* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --couleur: 255, 0, 255;
}

body {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.scene {
  position: relative;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  -webkit-perspective-origin: 0px 0px;
          perspective-origin: 0px 0px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.modal {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 1fr;
      grid-template-columns: 30% 1fr;
  -ms-grid-rows: 10% 30% 1fr;
      grid-template-rows: 10% 30% 1fr;
  gap: 5px 5px;
      grid-template-areas: "Titre Titre" "Image SousTitre" "Desc Desc";
  visibility: hidden;
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
  background-color: transparent;
  -webkit-transform: translate3D(-50%, -50%, 0px) scale(0.01);
          transform: translate3D(-50%, -50%, 0px) scale(0.01);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(var(--couleur), 0.5);
          box-shadow: 0px 0px 10px 5px rgba(var(--couleur), 0.5);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.modal .titre {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Titre;
  padding: 5px;
  pointer-events: none;
  text-align: center;
  font-size: 2em;
  color: rgba(var(--couleur), 0.8);
}

.modal .image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Image;
  padding: 5px;
}

.modal .image img {
  max-width: 100%;
  max-height: 100%;
}

.modal .desc {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Desc;
  padding: 5px;
  pointer-events: none;
}

.modal .sousTitre {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: SousTitre;
  padding: 5px;
  pointer-events: none;
}

.banner1,
.banner2,
.banner3,
.banner4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.panel0 {
  position: absolute;
  width: 62px;
  height: 400px;
  overflow: hidden;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: translate(-50%, 0%) rotateY(var(--angle0)) translateZ(379px);
          transform: translate(-50%, 0%) rotateY(var(--angle0)) translateZ(379px);
  -webkit-transition: -webkit-filter .4s ease;
  transition: -webkit-filter .4s ease;
  transition: filter .4s ease;
  transition: filter .4s ease, -webkit-filter .4s ease;
}

.panel0::before {
  position: absolute;
  left: var(--left);
  content: url(./img/0a.jpg);
}

.panel0:nth-child(1) {
  --left: 0px;
  --angle0: 0deg;
  border-left: 5px solid rgba(var(--couleur), 1);
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel0:nth-child(2) {
  --left: -60px;
  --angle0: 9deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel0:nth-child(3) {
  --left: -120px;
  --angle0: 18deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel0:nth-child(4) {
  --left: -180px;
  --angle0: 27deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel0:nth-child(5) {
  --left: -240px;
  --angle0: 36deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel0:nth-child(6) {
  --left: -300px;
  --angle0: 45deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel0:nth-child(7) {
  --left: -360px;
  --angle0: 54deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel0:nth-child(8) {
  --left: -420px;
  --angle0: 63deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel0:nth-child(9) {
  --left: -480px;
  --angle0: 72deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel0:nth-child(10) {
  --left: -540px;
  --angle0: 81deg;
  border-right: 5px solid rgba(var(--couleur), 1);
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel1 {
  position: absolute;
  width: 62px;
  height: 400px;
  overflow: hidden;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: translate(-50%, 12.5%) rotateY(var(--angle1)) translateZ(379px);
          transform: translate(-50%, 12.5%) rotateY(var(--angle1)) translateZ(379px);
  -webkit-transition: -webkit-filter .4s ease;
  transition: -webkit-filter .4s ease;
  transition: filter .4s ease;
  transition: filter .4s ease, -webkit-filter .4s ease;
}

.panel1::before {
  position: absolute;
  left: var(--left);
  content: url(./img/1a.jpg);
}

.panel1:nth-child(1) {
  --left: 0px;
  --angle1: 90deg;
  border-left: 5px solid rgba(var(--couleur), 1);
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel1:nth-child(2) {
  --left: -60px;
  --angle1: 99deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel1:nth-child(3) {
  --left: -120px;
  --angle1: 108deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel1:nth-child(4) {
  --left: -180px;
  --angle1: 117deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel1:nth-child(5) {
  --left: -240px;
  --angle1: 126deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel1:nth-child(6) {
  --left: -300px;
  --angle1: 135deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel1:nth-child(7) {
  --left: -360px;
  --angle1: 144deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel1:nth-child(8) {
  --left: -420px;
  --angle1: 153deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel1:nth-child(9) {
  --left: -480px;
  --angle1: 162deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel1:nth-child(10) {
  --left: -540px;
  --angle1: 171deg;
  border-right: 5px solid rgba(var(--couleur), 1);
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel2 {
  position: absolute;
  width: 62px;
  height: 400px;
  overflow: hidden;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: translate(-50%, 25%) rotateY(var(--angle2)) translateZ(379px);
          transform: translate(-50%, 25%) rotateY(var(--angle2)) translateZ(379px);
  -webkit-transition: -webkit-filter .4s ease;
  transition: -webkit-filter .4s ease;
  transition: filter .4s ease;
  transition: filter .4s ease, -webkit-filter .4s ease;
}

.panel2::before {
  position: absolute;
  left: var(--left);
  content: url(./img/2a.jpg);
}

.panel2:nth-child(1) {
  --left: 0px;
  --angle2: 180deg;
  border-left: 5px solid rgba(var(--couleur), 1);
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel2:nth-child(2) {
  --left: -60px;
  --angle2: 189deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel2:nth-child(3) {
  --left: -120px;
  --angle2: 198deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel2:nth-child(4) {
  --left: -180px;
  --angle2: 207deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel2:nth-child(5) {
  --left: -240px;
  --angle2: 216deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel2:nth-child(6) {
  --left: -300px;
  --angle2: 225deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel2:nth-child(7) {
  --left: -360px;
  --angle2: 234deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel2:nth-child(8) {
  --left: -420px;
  --angle2: 243deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel2:nth-child(9) {
  --left: -480px;
  --angle2: 252deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel2:nth-child(10) {
  --left: -540px;
  --angle2: 261deg;
  border-right: 5px solid rgba(var(--couleur), 1);
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel3 {
  position: absolute;
  width: 62px;
  height: 400px;
  overflow: hidden;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: translate(-50%, 37.5%) rotateY(var(--angle3)) translateZ(379px);
          transform: translate(-50%, 37.5%) rotateY(var(--angle3)) translateZ(379px);
  -webkit-transition: -webkit-filter .4s ease;
  transition: -webkit-filter .4s ease;
  transition: filter .4s ease;
  transition: filter .4s ease, -webkit-filter .4s ease;
}

.panel3::before {
  position: absolute;
  left: var(--left);
  content: url(./img/3a.jpg);
}

.panel3:nth-child(1) {
  --left: 0px;
  --angle3: 270deg;
  border-left: 5px solid rgba(var(--couleur), 1);
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel3:nth-child(2) {
  --left: -60px;
  --angle3: 279deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel3:nth-child(3) {
  --left: -120px;
  --angle3: 288deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel3:nth-child(4) {
  --left: -180px;
  --angle3: 297deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel3:nth-child(5) {
  --left: -240px;
  --angle3: 306deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel3:nth-child(6) {
  --left: -300px;
  --angle3: 315deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel3:nth-child(7) {
  --left: -360px;
  --angle3: 324deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel3:nth-child(8) {
  --left: -420px;
  --angle3: 333deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel3:nth-child(9) {
  --left: -480px;
  --angle3: 342deg;
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

.panel3:nth-child(10) {
  --left: -540px;
  --angle3: 351deg;
  border-right: 5px solid rgba(var(--couleur), 1);
  border-top: 5px solid rgba(var(--couleur), 1);
  border-bottom: 5px solid rgba(var(--couleur), 1);
}

#valeur {
  position: absolute;
  margin-left: 1em;
  color: #aaa;
}

.valeurAngle {
  position: fixed;
  bottom: 3%;
  width: 80%;
}

input[type=range].valAngle {
  width: 100%;
  margin: 6.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range].valAngle:focus {
  outline: none;
}

input[type=range].valAngle::-webkit-slider-runnable-track {
  background: rgba(var(--couleur), 1);
  border: 0;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range].valAngle::-webkit-slider-thumb {
  margin-top: -6.5px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range].valAngle:focus::-webkit-slider-runnable-track {
  background: rgba(var(--couleur), 1);
}

input[type=range].valAngle::-moz-range-track {
  background: rgba(var(--couleur), 1);
  border: 0;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range].valAngle::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 50px;
  cursor: pointer;
}

input[type=range].valAngle::-ms-track {
  background: rgba(var(--couleur), 1);
  border-color: transparent;
  border-width: 6.5px 0;
  color: transparent;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range].valAngle::-ms-fill-lower {
  background: rgba(var(--couleur), 1);
  border: 0;
}

input[type=range].valAngle::-ms-fill-upper {
  background: rgba(var(--couleur), 1);
  border: 0;
}

input[type=range].valAngle::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range].valAngle:focus::-ms-fill-lower {
  background: rgba(var(--couleur), 1);
}

input[type=range].valAngle:focus::-ms-fill-upper {
  background: rgba(var(--couleur), 1);
}

@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].valAngle {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
/*# sourceMappingURL=style.css.map */