* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --couleur: 255, 0, 255;
}

body {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.scene {
  position: relative;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  -webkit-perspective-origin: 0px 0px;
          perspective-origin: 0px 0px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.modal {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 1fr;
      grid-template-columns: 30% 1fr;
  -ms-grid-rows: 10% 30% 1fr;
      grid-template-rows: 10% 30% 1fr;
  gap: 5px 5px;
      grid-template-areas: "Titre Titre" "Image SousTitre" "Desc Desc";
  visibility: hidden;
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
  background-color: transparent;
  -webkit-transform: translate3D(-50%, -50%, 0px) scale(0.01);
          transform: translate3D(-50%, -50%, 0px) scale(0.01);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(var(--couleur), 0.5);
          box-shadow: 0px 0px 10px 5px rgba(var(--couleur), 0.5);
  border: 5px ridge rgba(var(--couleur), 1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.modal .titre {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Titre;
  padding: 5px;
  pointer-events: none;
  text-align: center;
  font-size: 2em;
  color: rgba(var(--couleur), 0.8);
}

.modal .image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Image;
  padding: 5px;
}

.modal .image img {
  max-width: 100%;
  max-height: 100%;
}

.modal .desc {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Desc;
  padding: 5px;
  pointer-events: none;
}

.modal .sousTitre {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: SousTitre;
  padding: 5px;
}

.modal .sousTitre a {
  text-decoration: none;
  color: red;
}

.banner1,
.banner2,
.banner3,
.banner4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateY(-223px) rotateY(82.84deg);
          transform: translateY(-223px) rotateY(82.84deg);
}

.panel0 {
  position: absolute;
  width: 81.37757px;
  height: 400px;
  overflow: hidden;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: translate(-50%, 0%) rotateY(var(--angle0)) translateZ(379px);
          transform: translate(-50%, 0%) rotateY(var(--angle0)) translateZ(379px);
  -webkit-transition: -webkit-filter .4s ease;
  transition: -webkit-filter .4s ease;
  transition: filter .4s ease;
  transition: filter .4s ease, -webkit-filter .4s ease;
}

.panel0::before {
  position: absolute;
  left: var(--left);
  content: url(./img/0a.jpg);
}

.panel0:nth-child(1) {
  --left: 0px;
  --angle0: 0deg;
}

.panel0:nth-child(2) {
  --left: -79.37757px;
  --angle0: 12deg;
}

.panel0:nth-child(3) {
  --left: -158.75515px;
  --angle0: 24deg;
}

.panel0:nth-child(4) {
  --left: -238.13272px;
  --angle0: 36deg;
}

.panel0:nth-child(5) {
  --left: -317.5103px;
  --angle0: 48deg;
}

.panel0:nth-child(6) {
  --left: -396.88787px;
  --angle0: 60deg;
}

.panel0:nth-child(7) {
  --left: -476.26545px;
  --angle0: 72deg;
}

.panel0:nth-child(8) {
  --left: -555.64302px;
  --angle0: 84deg;
}

.panel0:nth-child(9) {
  --left: -635.0206px;
  --angle0: 96deg;
}

.panel0:nth-child(10) {
  --left: -714.39817px;
  --angle0: 108deg;
}

.panel1 {
  position: absolute;
  width: 81.37757px;
  height: 400px;
  overflow: hidden;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: translate(-50%, 16.66667%) rotateY(var(--angle1)) translateZ(379px);
          transform: translate(-50%, 16.66667%) rotateY(var(--angle1)) translateZ(379px);
  -webkit-transition: -webkit-filter .4s ease;
  transition: -webkit-filter .4s ease;
  transition: filter .4s ease;
  transition: filter .4s ease, -webkit-filter .4s ease;
}

.panel1::before {
  position: absolute;
  left: var(--left);
  content: url(./img/1a.jpg);
}

.panel1:nth-child(1) {
  --left: 0px;
  --angle1: 120deg;
}

.panel1:nth-child(2) {
  --left: -79.37757px;
  --angle1: 132deg;
}

.panel1:nth-child(3) {
  --left: -158.75515px;
  --angle1: 144deg;
}

.panel1:nth-child(4) {
  --left: -238.13272px;
  --angle1: 156deg;
}

.panel1:nth-child(5) {
  --left: -317.5103px;
  --angle1: 168deg;
}

.panel1:nth-child(6) {
  --left: -396.88787px;
  --angle1: 180deg;
}

.panel1:nth-child(7) {
  --left: -476.26545px;
  --angle1: 192deg;
}

.panel1:nth-child(8) {
  --left: -555.64302px;
  --angle1: 204deg;
}

.panel1:nth-child(9) {
  --left: -635.0206px;
  --angle1: 216deg;
}

.panel1:nth-child(10) {
  --left: -714.39817px;
  --angle1: 228deg;
}

.panel2 {
  position: absolute;
  width: 81.37757px;
  height: 400px;
  overflow: hidden;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: translate(-50%, 33.33333%) rotateY(var(--angle2)) translateZ(379px);
          transform: translate(-50%, 33.33333%) rotateY(var(--angle2)) translateZ(379px);
  -webkit-transition: -webkit-filter .4s ease;
  transition: -webkit-filter .4s ease;
  transition: filter .4s ease;
  transition: filter .4s ease, -webkit-filter .4s ease;
}

.panel2::before {
  position: absolute;
  left: var(--left);
  content: url(./img/2a.jpg);
}

.panel2:nth-child(1) {
  --left: 0px;
  --angle2: 240deg;
}

.panel2:nth-child(2) {
  --left: -79.37757px;
  --angle2: 252deg;
}

.panel2:nth-child(3) {
  --left: -158.75515px;
  --angle2: 264deg;
}

.panel2:nth-child(4) {
  --left: -238.13272px;
  --angle2: 276deg;
}

.panel2:nth-child(5) {
  --left: -317.5103px;
  --angle2: 288deg;
}

.panel2:nth-child(6) {
  --left: -396.88787px;
  --angle2: 300deg;
}

.panel2:nth-child(7) {
  --left: -476.26545px;
  --angle2: 312deg;
}

.panel2:nth-child(8) {
  --left: -555.64302px;
  --angle2: 324deg;
}

.panel2:nth-child(9) {
  --left: -635.0206px;
  --angle2: 336deg;
}

.panel2:nth-child(10) {
  --left: -714.39817px;
  --angle2: 348deg;
}

#valeur {
  position: absolute;
  margin-left: 1em;
  color: #aaa;
}

.valeurAngle {
  position: fixed;
  bottom: 3%;
  width: 80%;
}

input[type=range].valAngle {
  width: 100%;
  margin: 6.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range].valAngle:focus {
  outline: none;
}

input[type=range].valAngle::-webkit-slider-runnable-track {
  background: rgba(var(--couleur), 1);
  border: 0;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range].valAngle::-webkit-slider-thumb {
  margin-top: -6.5px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range].valAngle:focus::-webkit-slider-runnable-track {
  background: rgba(var(--couleur), 1);
}

input[type=range].valAngle::-moz-range-track {
  background: rgba(var(--couleur), 1);
  border: 0;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range].valAngle::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 50px;
  cursor: pointer;
}

input[type=range].valAngle::-ms-track {
  background: rgba(var(--couleur), 1);
  border-color: transparent;
  border-width: 6.5px 0;
  color: transparent;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range].valAngle::-ms-fill-lower {
  background: rgba(var(--couleur), 1);
  border: 0;
}

input[type=range].valAngle::-ms-fill-upper {
  background: rgba(var(--couleur), 1);
  border: 0;
}

input[type=range].valAngle::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range].valAngle:focus::-ms-fill-lower {
  background: rgba(var(--couleur), 1);
}

input[type=range].valAngle:focus::-ms-fill-upper {
  background: rgba(var(--couleur), 1);
}

@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].valAngle {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
/*# sourceMappingURL=style.css.map */